<p>
  Click the update buttons,
  notice that
  <code>
    teardown
  </code>
  is
  <strong>
    not called
  </strong>
  before install
</p>

<MyComponent as |api|>
  <div {{api.myModifier}}>
    {{api.myValue}}
  </div>
</MyComponent>

<MyComponent as |api|>
  <div {{api.myModifier api.myValue}}>
    {{api.myValue}}
  </div>
</MyComponent>

<MyComponent as |api|>
  <div {{api.myModifier}}>
    {{api.myValue}}
  </div>
</MyComponent>